@font-face {
    font-family: 'AvenirStd';
    src: url("../fonts/AvenirLTStd-Medium.otf") format('OpenType');
}

@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico-Regular.ttf") format('TrueType');
}

:root{
	--color-naranja:#EB8A23;
}

body{
	color:#fff;
	font-family: 'AvenirStd';
	font-size: 14px;
}

.titulo{
	font-family: 'Pacifico';
}

.titulo-naranja{
	font-family: 'Pacifico';
	color: var(--color-naranja);
	text-align: left;
	font-size: 70px;
	background-color: #fff;
	padding: 20px;
	margin-left: 20px;
	background-size: cover;
}


header{
	background-color: var(--color-naranja);
	padding: 5px 0;
}

.bg-transparent{
	color: #fff;
}

header img{
	width: 200px;
}

header li a:hover {
  	background-color: #D67621;
}

nav .active{
	background-color: #D67621;
}

#hero{
	background-image: url("../img/baleadas1.jpg");
	background-size: cover;
	padding: 200px 0;
	text-align: center;
}

#hero h1{
	color: #fff;
	background-color: #EB8A23;
	padding: 15px;
	border-radius: 15px;
}

#honduras{
	padding: 60px;
	background-color: #EB8A23;
}

#honduras h2{
	color: #fff;
	text-align: center;
	padding: 20px;
}

footer{
	background-color: #A35611;
	color: #FFF;
	padding: 20px;
}

footer li a{
	color: white;
  	text-align: center;
  	padding: 20px 25px;
  	text-decoration: none;
}

#redes li{
	display: inline;
	font-size: 12px;
	padding: 0px 10px 0 0;
}

.list-icon i{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
	text-align: center;
	display: inline-block;
	font-size: 25px;
}

#guaraweb{
	text-align: right;
	padding: 20px;
}

#titulo-menu{
	background-color: var(--color-naranja);
	padding: 10px 0;
}

#platillos{
	margin-left: 50px;
	padding: 3% 0;
}

.etiqueta-platillo{
	text-align: center;
	margin: 20px 0;
	font-size: 22px;
}

#platillos p{
	font-size: 20px;
	font-weight: 300;
}

#platillos p span{
	font-weight: 600;
}

.lista-contacto i{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: var(--color-naranja);
	text-align: center;
	display: inline-block;
	border: 1px solid #ddd;
	font-size: 22px;
	margin-right: 10px;
	margin-bottom: 15px;
}



